{% extends "parent.html" %}

{% block content %}
{% if not logged_in %}

<p class="text-center"> <b> Welcome! To access watchlist, login <a href="\login"> here </a> or make an account <a href="\register">here</a>. </b> </p>

{% else %}

<p class="text-center"> You are logged in, and can access your watchlist. </p>

{% endif %}

<div class="slidercontainer">
  <input type="range" min="1900" max="2010" value="2010" class="slider" id="year">
</div>
<div class="yearcontainer">
  <p id="current_year"></p>
</div>

<svg width="960" height="600"></svg>

{% endblock %}
