{% extends "parent.html" %}

{% block content %}
<div class="row">
  <div class="col" style="padding-left: 0px;">
    <div id="map"></div>
  </div>
  <div class="col">
    {% if logged_in %}
    <form action = "/change_wl">
      <div class="form-group">
        <input type="hidden" name="city" value="{{city}}">
        <input type="hidden" name="state" value="{{state}}">
	    <input type="hidden" name="lat" value={{lat}}>
	    <input type="hidden" name="long" value={{long}}>
        {% if not on_watchlist %}
        <button type="submit" class="btn btn-outline-secondary btn-sm" name = "update" value = "Add to watchlist">Add from Watchlist</button>
        {% else %}
        <button type="submit" class="btn btn-outline-secondary btn-sm" name = "update" value = "Remove from watchlist">Remove from Watchlist</button>
        {% endif %}
      </div>
    </form>
    {% endif %}
    <svg id="t_graph"></svg>
  </div>
</div>
<div class="row" id="graph_container">
    <svg id="p_graph"></svg>
</div>

<script> var latitude = {{lat}};
  var longitude = {{long}};
  var loc = "{{city}}";
  var data = {{tavg_data | safe}};
</script>

<script src="../static/map.js"></script>
<script src="http://d3js.org/d3.v5.min.js"></script>
<script src="../static/charts.js"></script>
{% endblock %}
