{% extends "parent.html" %}

{% block content %}
<div id="map"></div>

{% if logged_in %}
<form action = "/change_wl">
    <div class="form-group">
        {% if not on_watchlist %}
        <button type="submit" class="btn btn-outline-secondary btn-sm" name = "update" value = "Add to watchlist">Add from Watchlist</button>
        {% else %}
        <button type="submit" class="btn btn-outline-secondary btn-sm" name = "update" value = "Remove from watchlist">Remove from Watchlist</button>
        {% endif %}
    </div>
</form>
{% endif %}

<script> var latitude = {{latitude}};
  var longitude = {{longitude}};
  var loc = "{{location}}";
</script>

<script src="../static/map.js"></script>
{% endblock %}

