{% extends "parent.html" %}

{% block content %}
<div id="map"></div>

{% if logged_in %}
{% if on_watchlist %}
<form action = "/rm_wl">
  <button type="submit" class="btn btn-outline-secondary btn-sm">Remove from Watchlist</button>
</form>
{% else %}
<form action="/add_wl">
  <button type="submit" class="btn btn-outline-secondary btn-sm">Add to Watchlist</button>
</form>
{% endif %}
{% endif %}

<script> var latitude = {{latitude}};
  var longitude = {{longitude}};
  var loc = "{{location}}";
</script>
<script src="../static/map.js"></script>
{% endblock %}

