{% extends "parent.html" %}

{% block content %}
<div class="table-responsive">
  <table class="text-center" width="100%">
    <tr>
      <th> Account Value: ${{portfolio_data[1]}} </th>
      <th> Buying Power: ${{portfolio_data[2]}} </th>
      <th> Cash: ${{portfolio_data[3]}} </th>
      <th> Annual Return: {{portfolio_data[4]}}% </th>
    </tr>
  </table>
</div>

<br>

<div class="table-responsive">
  <table class="table table-hover text-center">
    <thead>
      <tr class="bg-danger text-white">
	<th>Company</th>
	<th># of Stocks Bought</th>
	<th>Price Paid</th>
	<th>Current Price</th>
	<th>Sell Price</th>
	<th> </th>
	<th> </th>
      </tr>
    </thead>
    <tbody>
      {% for each in bought_stocks %}
      <tr>
      <th> <a href="/stockResults?stock_info={{each[0]}}{*}watchlist"> {{ each[5] }} </a> </th>
      <td> {{ each[1] }} </td>
      <td> {{ each[2] }} </td>
      <td> {{ each[3] }} </td>
      <td> {{ each[4] }} </td>
      <td>
	<form action = "/sellStock">
	  <div class="form-group">
	    <button type="submit" class="btn btn-outline-danger btn-sm" id="sell_btn" name = {{each[0]}}|~~|{{each[2]}}|~~|{{each[4]}}|~~|{{each[1]}} value = "Sell Stocks">Sell Stocks</button>
	  </div>
	</form>
      </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
