{% extends "parent.html" %}
{% block content %}

{% for place in result %}
<ul>
{% for i in range(5) %}
{% if place[i] != "N/A" %}
<li>{{labels[i]}}: {{place[i]}}</li>
{% endif %}
{% endfor %}
</ul>
<form action="/info">
  <input type="hidden" name="lat" value={{place[5]}}>
  <input type="hidden" name="long" value={{place[6]}}>
  <input type="submit" value="view">
</form>

{% endfor %}
<script>
  var lists = document.getElementsByTagName("ul");
  var forms = document.getElementsByTagName("form");
  for (var i = 0; i<lists.length; i++) {
    console.log(lists[i]);
    var place = lists[i].firstElementChild.innerHTML;
    place = place.split(" ")[1];
    var hid = document.createElement("input")
    hid.setAttribute("type","hidden");
    hid.setAttribute("name","place_info");
    hid.setAttribute("value",place);
    forms[i].append(hid);
  }
</script>
{% endblock %}
