{% extends "parent.html" %}
{% block content %}

{% for place in result %}
<ul class="result_item">
{% for i in range(4) %}
{% if place[i] != "" %}
<li>{{labels[i]}}: {{place[i]}}</li>
{% endif %}
{% endfor %}
</ul>
<form action="/info" class="view_form">
  <input type="hidden" name="lat" value={{place[4]}}>
  <input type="hidden" name="long" value={{place[5]}}>
  <input type="submit" value="view">
</form>

{% endfor %}
<script>
  var lists = document.getElementsByClassName("result_item");
  var forms = document.getElementsByClassName("view_form");
  for (var i = 0; i<lists.length; i++) {
    // console.log(lists[i]);
    // console.log(forms[i]);
    var city = lists[i].firstElementChild.innerHTML;
    city = city.split(":")[1]
    // console.log(city);
    var hid = document.createElement("input")
    hid.setAttribute("type","hidden");
    hid.setAttribute("name","city");
    hid.setAttribute("value",city.substring(1));
    forms[i].append(hid);
  }
</script>
{% endblock %}
