{% extends "parent.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-hover text-center" width="100%">
    <thead>
      <tr class="text-white" style="background-color: #8192d9;">
        <th>City</th>
	<th>Latitude</th>
	<th>Longitude</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for each in watchlist %}
      <tr>
        <td><a href="/info?city={{each[0]}}&lat={{each[2]}}&long={{each[3]}}"> {{each[0]}}, {{each[1]}} </a></td>
        <td>{{each[2]}}</td>
        <td>{{each[3]}}</td>
        <td>
          <form action = "/change_wl">
            <div class="form-group">
              <button type="submit" class="btn btn-outline-secondary btn-sm" name = "update" value = "Remove from watchlist">Remove from Watchlist</button>
              <input type="hidden" name="city" value="{{each[0]}}">
              <input type="hidden" name="state" value={{each[1]}}>
              <input type="hidden" name="lat" value={{each[2]}}>
              <input type="hidden" name="long" value={{each[3]}}>
	    </div>
	  </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
