<!DOCTYPE html><!--Basic template for all other pages -->
<html>
<head><!--Replaceable title/heading -->
    {% block head %}

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->

    <title> {% block title %} Title {% endblock %}  </title>
    {% endblock %}

</head>
<body>
    {% if not logged_in %}
        <a href="/login"> Login </a>
        <a href="/register"> Register </a>
    {% else %}
        <p>Hi {{user}}</p>
        <a class-"nav-link nav-lr" href="/logout" style="text-decoration: none;color:grey"> Logout </a>
    {% endif %}
    {% block alert %}
    <div class="msg">
        {% set msgs = get_flashed_messages() %}
        {% for each in msgs %}
            {{each}}
        {% endfor %}
    </div>
    {% endblock %}
    {% block content %}
    content

    {% endblock %}

    {% block footer %}
    <footer class="footer" style="text-align:center;">
      <div class="container">
        <p class="text-muted">&copy; Copyright Shrimp Crackers</p>
      </div>
    </footer>
	{% endblock %}

</body>
</html>
