{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
    <h1>Register</h1>
    <br>
    <form action="/adduser">
        <label for="new_user">Username</label>
        <input type="text" name="user" id="new_user" placeholder="username">
        <label for="new_pw">Password</label>
        <input type="password" name="password" id="new_pw" placeholder="password">
            <label for="confirm_pw">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_pw" placeholder="password">
        <br>
        <div><button type="submit">Register</button></div>
    </form>
    <a href="/">Back to home </a>
</div>

{% endblock %}
