{% extends "parent.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-hover text-center" width="100%">
    <thead>
      <tr class="bg-danger text-white">
	<th>Company</th>
	<th>Latest Price</th>
	<th>Low</th>
	<th>High</th>
	<th>Volume</th>
	<th>Yield</th>
	<th> </th>
      </tr>
    </thead>
    <tbody>
      {% for each in watchlist %}
      <th> <a href="/stockResults?stock_info={{each[1]}}{*}watchlist"> {{ each[0]["companyName"] }} </a> </th>
      <td> {{ each[0]["latestPrice"] }} </td>
      <td> {{ each[0]["low"] }} </td>
      <td> {{ each[0]["high"] }} </td>
      <td> {{ each[0]["latestVolume"] }} </td>
      <td> {{ each[0]["ytdChange"] }}% </td>
      <td>
	<form action = "/removeWatchlist">
	  <div class="form-group">
	    <button type="submit" class="btn btn-outline-danger btn-sm" id="remove_btn" name = {{each[1]}} value = "Remove from watchlist">Remove from Watchlist</button>
	  </div>
	</form>
      </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
